.App {
  text-align: center;
}

.AccuWeather-logo {
  width: 120px;
}

.App-header,
.App-footer {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

tr.day {
  background-color: #fff;
}

tr.night {
  background-color: #222;
}

tr.twy {
  background-color: red;
}

tr.sunset {
  background-image: linear-gradient(to bottom, #fff, #222);
}

tr.sunrise {
  background-image: linear-gradient(to bottom, #222, #fff);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #ddd;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.temperature {
  color: #F05514;
  font-size: 30px;
  font-weight: bold;
}

.time {
  color: #F05514;
  font-weight: bold;
}

.celsius {
  font-size: 15px;
}

.details {

}

.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.show {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  text-align: left;
}

.hidden {
  display: none;
}

.modalIcon {
  float: right;
}
